<mat-card class="rebus-element">
    <mat-card-content>
        <mat-form-field >
            <input matInput (keyup.enter)="searchImages()" placeholder="Mot à rechercher" [(ngModel)]="element.motRecherche">
        </mat-form-field>
        <div class="image-commands">
            <button mat-raised-button (click)="searchImages()" [disabled]="emptySearchTerm">Rechercher</button>
            <button mat-raised-button (click)="nextImage()" [disabled]="noNextImage" class="prevNext">&gt;</button>
            <button mat-raised-button (click)="previousImage()" [disabled]="noPreviousImage" class="prevNext">&lt;</button>
        </div>
        <img [src]="element.image" *ngIf="element.image">
        <mat-form-field >
            <input matInput placeholder="Mot à afficher (si différent)" [(ngModel)]="element.motAffiche">
        </mat-form-field>
        <a mat-raised-button color="warn" (click)="remove()">Supprimer</a>
    </mat-card-content>
</mat-card>
