
<mat-card *ngIf="rebus">
    <mat-card-title>
        Rébus {{ id }}
    </mat-card-title>
    <mat-card-subtitle>
        ajouté le {{ rebus.date | date: 'd MMMM y' }}
    </mat-card-subtitle>
    <mat-card-content>
        <div class="img-block" *ngFor="let i of rebus.images; let index = index">
            <img [src]="i">
            <div class="solution-mot" *ngIf="showSolution">
                {{ rebus.mots[index] }}
            </div>
        </div>
        <div id="solution" *ngIf="showSolution">
            <h2>Solution: {{ rebus.solution }}</h2>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <a mat-raised-button color="primary" (click)="showSolution = true">Voir la solution</a>
    </mat-card-actions>
</mat-card>
